.app {
    display: flex;
    :nth-child(4) {
        border-right: 2px solid;
    }
}
.column {    
    text-align: center;
    font-size: 24px;   
    width: 400px;
    min-height: 800px;
    border: solid;
    border-width: 2px 0 2px 2px;
    background-color: #E0FFFF;
    &__title {
        background-color: #AFEEEE;
        border-bottom: 2px solid black;
    }
    &__cards {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D3D3D3;
    box-shadow: 0 0 20px 2px rgba(0,0,0,0.5);
    margin-bottom: 50px;
    width: 360px;
    min-height: 200px;
    border: 2px solid black;
    border-radius: 10px;
    &__top {
        width: 90%;
        display: flex;
        justify-content: space-between;
        padding: 5px;
    }
    &__description {
        border: 1px solid black;
        width: 90%;
        min-height: 40%;
    }
    &__bottom {
        margin-top: 20px;
        width: 90%;
        min-height: 50px;
        display: flex;        
        justify-content: space-between;
    }
    &__left {

    }
    &__right {
        width: 50%;
        display: flex;
        flex-direction: column;
    }
    &__reports {
        margin-bottom: 5px;
        display: flex;
        justify-content: space-between;
    }
    &__reporter-img {
        width: 50px;
        height: auto;
        img {
            border-radius: 100%;
            display: block;
            max-width: 100%;
        }
    }
    &__assigns {
        display: flex;        
        justify-content: space-between;
    }
    &__assign-img {
        width: 50px;
        height: auto;
        img {
            border-radius: 100%;
            display: block;
            max-width: 100%;
        }
    }
}